
    body {
        background-color:rgba(238, 238, 238, 0.829);
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 0;
    
    }

    ul.fejlec {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        position: static;
      }
      
    li.sziti {
        float: left;
      }
      
    a {
        display: block;
        color: white;
        text-align: center;
        padding: 11px 12px;
        text-decoration: none;
      }
      
    .a:hover:not(.active) {
        background-color: #111;
      }
      
    .active {
        background-color: #ffffff;
        color: #111;
  
      }
    
      li.sziti {
        margin: 4px;
        border-radius: 10px;
        padding: 6.1px;
        width: 130px;
        height: 35px;
        font-size: 0.78em;
        color: white;
        border: none;
        background: transparent;
        border-style: solid;
        animation: rotate 2s infinite;
        border-color: #ed0eed #3454c9;
        
      }
      
      @keyframes rotate {
        50% {
          border-color: #3454c9 #ed0eed;
        }
        100% {
          border-color: #ed0eed #3454c9;
        }
     }   
     

     img {
      border-radius: 5%;
      border:rgb(255, 255, 255) solid 3px;
    }

    body.keplink {
      background-image: url(img/logo.png)
    }

    body.urlap {
      background-image: url(img/urlaphatter.jpg);
      color: azure;
    }

    body.tablazat {
      background-image: url(img/iskola1.jpg);
      background-repeat: no-repeat;
      background-size: 1920px 1080px;
    }

    table {
      margin-right: auto;
      margin-left: auto;
      
    }

    caption {
      background-color: blueviolet;
      color: white ;
    }


    div {
      float: left;
    }
    
    img.evszakok {
      border: 7px solid rgb(47, 67, 75);
      border-radius: 5%;
      width: 250px;
      margin: 20px;
      transition: 1s;
    }

    img.evszakok:hover {
      transform: scale(1.08);
    }

    img.evszakok:hover + p {
      font-size: xx-large
    }

    p.evszakok {
      font-size: large;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
      transition: 1s;
       }

       body.evszakok {
        background-color: rgb(220, 218, 253);
       }

       #zene {
        width: 300px;
        height: 60px;
        background-color: rgb(47, 67, 75);
        position:absolute;
        top:55%;
        left:23%;
        text-align: center;
        padding: 30px;
        border-radius: 5%;
        border: 3px solid white;
       }

       div.footer {
        text-align: center;
        background-color: #333;
        position: static;
        left: 0;
        bottom: 0;
        height: 2.5rem;
        padding-bottom: 2.5rem;
        border-top: 3px solid blueviolet;
        border-bottom: 3px solid blueviolet ;
        margin-top: auto;
        width: 100%;
        
        }

        div.urlap {
          width: auto;
        }

        div.szoveg {
          margin: 10px;
        }

